body{
    margin: 0px;
    padding: 0px;
}
.anchor{
    text-decoration: none;
    color: black;
}
#ass{
    position: absolute;
    top: 8%;
    left:2%;
    height: 7%;
    width:15%;
}
#ass:hover{
    cursor: pointer;
    background-image: linear-gradient(to right bottom , rgb(164, 36, 164),rgb(43, 43, 220));
}
#webdev{
    position: absolute;
    top:8%;
    left:17%;
    width: 15%;
    height:7%;
}
#webdev:hover{
    cursor: pointer;
    background-image: linear-gradient(to right bottom , rgb(164, 36, 164),rgb(43, 43, 220));
}
.cards{
    position: relative;
    height: 60%;
    width: 20%;   
    margin: 2%;
    border-radius: 10%;
    line-height: 12%;
    border-bottom: solid black 2px;
}
.cards img{
    position: relative;
    border-radius: 20%;
    height: 45%;
    width: 70%;
    margin-left: 15%;
}
.cards h3{
    text-align: center;
    font-size: 2rem;
    color:black;
}
.cards p{
    text-align: center;
    color: black;
}
.cards i{
    text-decoration: none;
    color:black;
    padding-top: 5%;
    padding-left: 30%;
}
.cards i:hover{
    color:rgb(237, 26, 227);
}
.container{
    display: flex;
    flex-wrap: wrap;
    position:absolute;
    overflow: scroll;
    height: 50%;
    width: 96%;
    top:45%;
    left: 2%;
    border: solid black 2px;
}
.gs{
    position: absolute;
    height: 30%;
    width:96%;
    top:15%;
    left: 2%;
    border: solid black 2px;
}
.gs img{
    position: relative;
    height: 150px;
    width:200px;
    left: 15%;
    top: 12%;
    border-radius: 20%;
}
.gs h3{
    position: relative;
    left:60%;
    bottom: 70%;
    color:black;
}
.gs p{
    position: relative;
    left: 60%;
    bottom:55%;
    color: black;
}
.gs i{
    text-decoration: none;
    color:white;
    position: relative;
    left: 57%;
    bottom: 45%;
    color: black;
    padding: 20px;

}
.gs i:hover{
    color:rgb(237, 26, 227);
}